@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;600&family=Kaushan+Script&family=Wendy+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;600&family=Indie+Flower&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    --main-font: 'Kaushan Script','Wendy One', sans-serif;
    --base-font: 'Indie Flower', cursive;
}
.section-1{
    width: 100%;
    height: 100vh;
    background-image: url("../Images/background.jpg");
    background-position: center;
    background-size: cover;
}
.container{
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    height: 10%;
}
.cow{
    max-width: 1150px;
    background: var(--bg-cow);
    color: white;
    margin: 0 auto;
}
.cow, .navlinks{
    height: 100%;
}
.navlinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-left: 10px;
}
.logo h2{
    color: var(--accent-color);
    font-size: 30px;
    font-family: var(--base-font);
    font-weight: bolder;
    letter-spacing: 1px;
    margin: 5px;
}
.logo span{
    color: greenyellow;
    font-size: 34px;
    font-family: cursive;
    border-radius: 10px;
    display: inline-block;
}
.phone{
    display: none;
}
.links{
    display: flex;
    justify-content: space-between;
}
.links li{
    display: inline-block;
    padding: 6px 20px;
    font-size: 14px;
    text-transform: uppercase;
    font-family: sans-serif;
    letter-spacing: 1px;
    transition: all 1s;
    cursor: pointer;
    letter-spacing: 2px;
}
.links li a{
    text-decoration: none;
    color: var(--main-color);
}
    

.links li:hover{
    color: tomato;
}
.links #account{
    background-color: #FF5722;
    font-family: var(--main-font);
    font-size: 15px;
    border-radius: 4px;
    margin-left: 10px;
}
.links #account:hover{
    background-color: #3c4146;
    color: var(--main-color);
}
ul .buff{
    display: none;
}
.center-container{
    width: 60%;
    height: 45%;
    color: white;
    text-align: center;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.center-container p > span{
    display: block;
    font-size: 26px;
    letter-spacing: 5px;
    border-bottom: 2px solid rgba(255,255,255,0.3);
    border-top: 2px solid rgba(255,255,255,0.3);
    width: fit-content;
    margin: 50px auto;
}
.center-container h1{
    font-size: 65px;
    font-weight: 400;
    line-height: 60px;
    font-family: var(--main-font);
    margin-bottom: 40px;
}
.center-container button{
    background-color: #FF5722;
    padding: 15px 35px;
    border: none;
    border-radius: 30px;
    font-size: 24px;
    font-family: "Open Sans", Arial, serif;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.5s;
}
.center-container button a{
    text-decoration: none;
    color: white;
}
.center-container button:hover{
    background-color: #3c4146;
}
.center-container button:focus{
    background-color: #3c4146;
}